{{!--

Re-usable card for linking to posts

--}}

<article class="{{post_class}}">
	<a href="{{url}}" class="card card--border card--horizontal">
		{{#match @custom.cards_image_style "==" "Full width"}}
			{{#if feature_image}}
				<figure class="card__media">
					{{> "feature-image"}}
				</figure>
			{{/if}}
		{{else}}
			<figure class="card__media">
				{{#if featured}}
					{{> "icons/star"}}
				{{else}}
					{{> "icons/article"}}
				{{/if}}
			</figure>
		{{/match}}
		<div class="card__content">
			{{!-- <time datetime="{{date format="YYYY-MM-DD"}}">
				<small>{{date format="D MMM YYYY"}}</small>
			</time> --}}
			<h3 class="card__title">
				{{#match @custom.cards_image_style "!=" "Icon"}}
					{{#if featured}}
						{{> "icons/star"}}
					{{/if}}
				{{/match}}
				{{title}}
			</h3>
			<p class="card__description">{{excerpt}}</p>
		</div>
	</a>
</article>
