<header class="header">
	<div class="header__inner container">
		<a href="{{@site.url}}" class="header__logo">
			{{#if @site.logo}}
				<img src="{{@site.logo}}" alt="{{@site.title}}" />
			{{else}}
				{{@site.title}}
			{{/if}}
		</a>
		<button type="button" class="header__toggle btn" id="menu_toggle">
			{{> "icons/menu"}}
			{{> "icons/x"}}
			<span class="visually-hidden">{{t "Menu"}}</span>
		</button>
		<div class="header__content">
			<nav class="header__nav fs-sm">
				{{navigation}}
			</nav>
			<div class="header__actions nav">
				{{#unless @member}}
					<a href="#/portal/signin" class="nav__item" data-portal="signin">{{t "Sign in"}}</a>
					{{#unless @site.members_invite_only}}
						<a href="#/portal/signup" class="btn btn--primary nav__item" data-portal="signup">{{t "Subscribe"}}</a>
					{{/unless}}
				{{else}}
					<a href="#/portal/account" class="nav__item" data-portal="account">{{t "Account"}}</a>
				{{/unless}}
			</div>
		</div>
	</div>
</header>
