{{#if isSecondary}}
	<ul class="nav nav--secondary" role="menu">
		{{#foreach navigation}}
			<li class="nav-{{slug}}" role="menuitem">
				<a href="{{url}}"{{#if current}} aria-current="true"{{/if}}>
					{{label}}
				</a>
			</li>
		{{/foreach}}
	</ul>
{{else}}
	<ul class="nav" role="menu">
		{{#foreach navigation}}
			<li class="{{link_class for=(url) class=(concat "nav-" slug)}}" role="menuitem">
				<a href="{{url absolute="true"}}"{{#if current}} aria-current="true"{{/if}}>
					{{label}}
				</a>
			</li>
		{{/foreach}}
	</ul>
{{/if}}
