{{#get "pages" filter="slug:[{{slugs}}]"}}
	<section class="section quick-links">
		<div class="container">
			<header class="section__header">
				<h2 class="section__title">{{t "Quick links"}}</h2>
			</header>
			<nav class="grid grid--quick-links">
				{{#foreach pages}}
					<a href="{{url}}" class="card">
						<div class="card__content">
							<h3 class="card__title">{{title}}</h3>
							{{#if excerpt}}
								<div class="card__description">{{excerpt}}</div>
							{{/if}}
						</div>
					</a>
				{{/foreach}}
			</nav>
		</div>
	</section>
{{/get}}
