{{!< default}}

{{#post}}

<article class="post-page {{post_class}}">
	<div class="container container--reader">
		{{#match @page.show_title_and_feature_image}}
			<header class="post__header">
			<div class="post__details">
				<h1 class="post__title">{{title}}</h1>
				{{#if custom_excerpt}}
					<p class="post__excerpt">{{custom_excerpt}}</p>
				{{/if}}
			</div>
			{{#if feature_image}}
				<figure class="post__image">
					{{> "feature-image"}}
					{{#if feature_image_caption}}
						<figcaption>{{feature_image_caption}}</figcaption>
					{{/if}}
				</figure>
			{{/if}}
		</header>
		{{/match}}

		<section class="post__content">
			{{content}}
		</section>
	</div>
</article>

{{/post}}
