{{!< default}}

{{#post}}

<article class="post-page {{post_class}}">
	<div class="container container--reader">
		<header class="post__header">
			<div class="post__details">
				<h1 class="post__title">{{title}}</h1>
				{{#if custom_excerpt}}
					<p class="post__excerpt">{{custom_excerpt}}</p>
				{{/if}}
				<div class="post__date">
					<time datetime="{{date format="YYYY-MM-DD"}}">{{t "Last updated on"}} {{date}}</time>
				</div>
			</div>
			{{#if feature_image}}
				<figure class="post__image">
					{{> "feature-image"}}
					{{#if feature_image_caption}}
						<figcaption>{{feature_image_caption}}</figcaption>
					{{/if}}
				</figure>
			{{/if}}
		</header>

		<section class="post__content">
			{{content}}
		</section>

		{{#if comments}}
			<footer class="post__comments">
				{{comments}}
			</footer>
		{{/if}}
	</div>
</article>

<aside class="post__prev-next container container--reader">
	{{#next_post}}<a href="{{url}}" class="prev"><small>{{> "icons/arrow-left"}} {{t "Previous"}}</small> <h2>{{title}}</h2></a>{{/next_post}}
	{{#prev_post}}<a href="{{url}}" class="next"><small>{{t "Previous"}} {{> "icons/arrow-right"}}</small> <h2>{{title}}</h2></a>{{/prev_post}}
</aside>

{{/post}}
